<%- include('../partials/header') %>

<h2 class="text-center"><%= aluno ? "editar aluno" : "novo aluno" %></h2>

<form action="<%= aluno ? '/alunos/editar/' + aluno.id : '/alunos/novo' %>" method="post">

    <div class="mb-3">
        <label>nome</label>
        <input class="form-control" type="text" name="nome" value="<%= aluno ? aluno.nome : '' %>" required>
    </div>

    <div class="mb-3">
        <label>email</label>
        <input class="form-control" type="email" name="email" value="<%= aluno ? aluno.email : '' %>" required>
    </div>

    <div class="mb-3">
        <label>turma</label>
        <select name="turma_id" class="form-control">
            <% turmas.forEach(t => { %>
                <option value="<%= t.id %>" <%= aluno && aluno.turma_id === t.id ? 'selected' : '' %>>
                    <%= t.nome %>
                </option>
            <% }) %>
        </select>
    </div>

    <button class="btn btn-success w-100"><%= aluno ? "atualizar" : "salvar" %></button>

</form>

<%- include('../partials/footer') %>
