<%- include('../partials/header') %>

<h2 class="text-center"><%= turma ? "Editar Turma" : "Nova Turma" %></h2>

<form action="<%= turma ? '/turmas/editar/' + turma.id : '/turmas/nova' %>" method="post">

    <div class="mb-3">
        <label for="nome">Nome da turma</label>
        <input 
            id="nome"
            class="form-control"
            type="text"
            name="nome"
            value="<%= turma ? turma.nome : '' %>"
            required
        >
    </div>

    <button class="btn btn-success w-100">
        <%= turma ? "Atualizar" : "Salvar" %>
    </button>

</form>

<%- include('../partials/footer') %>
