<%- include('../partials/header') %>

<div class="d-flex justify-content-between align-items-center mb-3">
  <h2 class="m-0">Lista de Alunos</h2>
  
  <a href="/alunos/novo" class="btn btn-primary btn-create">Novo Aluno</a>
</div>





<div class="table-container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Turma</th>
        <th>Professores</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% if (alunos && alunos.length > 0) { %>
        <% alunos.forEach(aluno => { %>
          <tr>
            <td><%= aluno.nome %></td>
            <td><%= aluno.email %></td>
            <td><%= aluno.turma ? aluno.turma.nome : '—' %></td>

            <td>
              <a href="/alunos/<%= aluno.id %>/professores" class="btn btn-info btn-sm">
                Ver Professores
              </a>
              
            </td>

            <td>
              <a href="/alunos/editar/<%= aluno.id %>" class="btn btn-edit btn-sm">Editar</a>
              <a href="/alunos/deletar/<%= aluno.id %>" class="btn btn-danger btn-sm">Excluir</a>
            </td>
          </tr>
        <% }) %>
      <% } else { %>
        <tr>
          <td colspan="5" class="text-center">Nenhum aluno encontrado.</td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>

<%- include('../partials/footer') %>
