

<h2 class="text-center">lista de alunos</h2>

<a href="/alunos/novo" class="btn btn-primary mb-3">novo aluno</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>nome</th>
            <th>email</th>
            <th>turma</th>
            <th>acoes</th>
        </tr>
    </thead>

    <tbody>
        <% alunos.forEach(a => { %>
            <tr>
                <td><%= a.id %></td>
                <td><%= a.nome %></td>
                <td><%= a.email %></td>
                <td><%= a.turma ? a.turma.nome : 'sem turma' %></td>

                <td>
                    <a href="/alunos/editar/<%= a.id %>" class="btn btn-warning btn-sm">editar</a>
                    <a href="/alunos/deletar/<%= a.id %>" class="btn btn-danger btn-sm">deletar</a>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>

<%- include('../partials/footer') %>
