<%- include('../partials/header') %>

<h2>Professores do Aluno: <%= aluno.nome %></h2>

<a href="/alunos" class="btn btn-secondary mb-3">Voltar</a>

<div class="table-container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
      </tr>
    </thead>

    <tbody>
      <% if (aluno.professores.length > 0) { %>
        <% aluno.professores.forEach(prof => { %>
          <tr>
            <td><%= prof.nome %></td>
            <td><%= prof.disciplina %></td>
          </tr>
        <% }) %>
      <% } else { %>
        <tr>
          <td colspan="2" class="text-center">
            Nenhum professor vinculado.
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>

<%- include('../partials/footer') %>
