<%- include('../partials/header') %>

<h2 class="text-center"><%= turma ? "Editar Turma" : "Nova Turma" %></h2>

<form action="<%= turma ? '/turmas/editar/' + turma.id : '/turmas/novo' %>" method="post">

    <div class="mb-3">
        <label for="nome">Nome da Turma</label>
        <input 
            id="nome"
            type="text" 
            class="form-control" 
            name="nome" 
            value="<%= turma ? turma.nome : '' %>"
            required
        >
    </div>

    <div class="mb-3">
        <label for="turno">Turno</label>
        <select name="turno" id="turno" class="form-control" required>
            <option value="">Selecione...</option>

            <option value="Matutino" <%= turma && turma.turno === "Matutino" ? 'selected' : '' %>>Matutino</option>
            <option value="Vespertino" <%= turma && turma.turno === "Vespertino" ? 'selected' : '' %>>Vespertino</option>
            <option value="Noturno" <%= turma && turma.turno === "Noturno" ? 'selected' : '' %>>Noturno</option>
        </select>
    </div>

    <button class="btn btn-success w-100">
        <%= turma ? "Atualizar" : "Salvar" %>
    </button>

</form>

<%- include('../partials/footer') %>
