<%- include('../partials/header') %>

<h2 class="text-center"><%= turma ? "editar turma" : "nova turma" %></h2>

<form action="<%= turma ? '/turmas/editar/' + turma.id : '/turmas/novo' %>" method="post">

    <div class="mb-3">
        <label>nome</label>
        <input type="text" class="form-control" name="nome" value="<%= turma ? turma.nome : '' %>" required>
    </div>

    <button class="btn btn-success w-100"><%= turma ? "atualizar" : "salvar" %></button>

</form>

<%- include('../partials/footer') %>
